@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
:root {
  --colorBleuPrincipal: #29abe2;
  --fontTitleBold: bold 1.75rem "poppins", sans-serif;
  --colorTextLight: white;
}
